<div id="tweeting">
	
	<h1>Tweet Sentiment Data</h1>
	<br>
	<h3>Showing results for <%= @value %></h3>
	
	<div id="test">
		<svg id="fillgauge1" width="19%" height="200"></svg>
		<svg id="fillgauge2" width="19%" height="200"></svg>
		<br>
		<svg id="fillgauge3" width="19%" height="200"></svg>
		<svg id="fillgauge4" width="19%" height="200"></svg>
		<svg id="fillgauge5" width="19%" height="200"></svg>
	</div>
</div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<%= javascript_include_tag 'liquidFillGauge' %>
