<div id="particles-js"></div>
<div class="container">
<div class="text">
	<h1 class="special">Sentimentalize</h1>
</div>
  <h2>Find the sentiment associated with a keyword on Twitter!</h2>
	<div id = "bootstrap-form" class="row col-lg-6 input-group">
	  <%= form_for @tweet, :url => "/display" do |f| %>
		<span class="input-group-btn">
		<%= f.text_field :keyword, :placeholder => "Keyword", class: "form-control" %>
        	<%= f.submit "Search!", class: "btn btn-primary" %>
      	</span>
	  <% end %>
	</div>
	
	
    

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</div>